* {
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
    background-image: url("assets/Frame_1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  }

.gambar-icon-tutorial {
    padding: 10px;
}

.gambar-icon-tutorial img {
    width: 50px;
    height: 50px;
    opacity: 0.5;
}

.gambar-icon-tutorial img:hover {
    opacity: 1;
}

.border-button {
    text-align: center;
    display: inline-block;
    border-radius: 50%;
}

button {
    /* background-color: red;
    height: 100px;
    width: 100px;
    text-decoration: none;
    text-align: center;
    border-radius: 50%;
    border: 10px;
    font-weight: bolder;
    color: white;
    border-style: dashed;
    border-color: white;
    box-shadow: inset 0 5px 10px rgb(77, 77, 77); */
    background: transparent;
    border: none;
}

#top {
    display: flex;
    gap: 20px;
}

#top-right {
    justify-content: center;
    align-items: center;
}

.colm1 {
    padding-top: 1.5rem;
}

.colm2 {
    padding-top: 80px;
}

.gambar1 {
    position: relative;
    top: 20px;
    left: -110px;
}